.caption {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    width: 75%;
    font-size: 14px;
    text-align: left;
    border-top: dashed 1px var(--color-text-secondary);
    padding: 0 5%;
    
}

.caption__icon {
    margin-top: 1em;
    margin-right: 16px;
    overflow: visible;
    color: var(--color-text-secondary);
}